*

!*/
#/*/
#/*/*/

!.Xresources
!.bash_profile
!.tmux.conf
!.vimrc
!.xinitrc
!.Xdefaults
!.bashrc
!.config/conky/conky.conf
!.config/fish/config.fish
!.config/fish/fishd.rdebrandt-aem
!.gitignore



.vim/*
local/*
prod/*
Downloads/*
.gem/*
.config/google-chrome/
.tmux/plugins/*


#!.config/
#.config/*
#
#!.config/fish/
#.config/fish/fish.orig
#.config/fish/fish_history
#.config/fish/fish_read_history
#
#!.config/conky/
##.config/*
#.config/conky/conky.conf

#!.config/fish/config.fish
#!config.fish
#!config/
#.config/*
#!/.config/fish/
#!.config/fish/config.fish
#!.config/fish/functions/fish_prompt.fish
#!.config/fish/functions/fish_prompt.fish

#.config/conky/*
#!.config/conky/conky.conf
#
#.config/i3/*
#!.config/i3/config
#
#.config/i3status/*
#!.config/i3status/config
#
#.config/htop/*
#!.config/htop/htoprc
