*

!*/
!*/*
!*/*/*
#/*/
#/*/*/

!.Xresources
!.bash_profile
!.tmux.conf
!.vimrc
!.xinitrc
!.Xdefaults
!.bashrc
!.config/conky/conky.conf
!.config/fish/config.fish
!.config/fish/fishd.rdebrandt-aem
!.gitignore


.aws/*
.cache/*
.cache/*
.groovy/*
.gstreamer-0.10/*
.keras/*
.mono/*
.neo4j/*
.oracle_jre_usage/*
.purple/*
.ssh/*
.w3m/*
tmp/*
.vim/*
.atom/*
local/*
prod/*
Downloads/*
.gem/*
.config/google-chrome/
.config/chromium/
.tmux/plugins/*
.config/*
.config/fish/*
.config/fish/fishd.rdebrandt-aem

.IdeaIC2016.1/*
.IdeaIC2016.2/*
.IntelliJIdea2016.1/*
.PyCharm2016.2/*
.ansible/*
.bin/*
.gnome/*
.icons/*
.ipython/*
.java/*
.local/*
.mozilla/*
.mysql/*
.pki/*
.rdesktop/*
.theano/*
.tmux/*
.webex/*


#!.config/
#.config/*
#
#!.config/fish/
#.config/fish/fish.orig
#.config/fish/fish_history
#.config/fish/fish_read_history
#
#!.config/conky/
##.config/*
#.config/conky/conky.conf

#!.config/fish/config.fish
#!config.fish
#!config/
#.config/*
#!/.config/fish/
#!.config/fish/config.fish
#!.config/fish/functions/fish_prompt.fish
#!.config/fish/functions/fish_prompt.fish

#.config/conky/*
#!.config/conky/conky.conf
#
#.config/i3/*
#!.config/i3/config
#
#.config/i3status/*
#!.config/i3status/config
#
#.config/htop/*
#!.config/htop/htoprc
